<%= form_for [deck, card] do |f| %>
  <div>
    <%= f.label :front %>
    <%= f.text_area :front %>
  </div>
  <div>
    <%= f.label :back %>
    <%= f.text_area :back %>
  </div>
  <div>
    <%= f.submit "Update Card" %>
  </div>
<% end %>
<div>
  <%= button_to 'Delete Card', deck_card_path(deck, card), data: { confirm: "Delete this card permanently?" }, method: :delete %>
</div>