<table class='card'>
  <tr class='card-front'>
    <td>
      <%= card.front %>
    </td>
  </tr>
  <tr class='show-answer-btn-row'>
    <td>
      <%= button_tag 'Show Answer', id: 'show-answer-btn' %>
    </td>
  </tr>
  <tr class='card-back'>
    <td>
      <%= card.back %>
    </td>
  </tr>
  <tr class='difficulty-btn-row'>
    <td>
      <%= button_tag 'Wrong', id: 'wrong-answer-btn', value: card.id %>
      <%= button_tag 'Correct', id: 'correct-answer-btn', value: card.id %>
    </td>
  </tr>
</table>