<h2>View All Cards in <%= @deck.name %></h2>

<table>
  <% @cards.each do |card| %>
    <tr class="card-row" onclick="location.href='<%= edit_deck_card_url(@deck, card) %>'">
      <td>
        <%= card.front %>
      </td>
      <td>
        <%= card.back %>
      </td>
    </tr>
  <% end %>
</table>

<div>
  <%= render partial: 'edit', locals: { deck: @deck, card: @cards.first } %>
</div>

<div>
  < <%= link_to 'Back to Deck', deck_path(@deck) %>
</div>