<h2><%= current_user.name %>'s Decks</h2>
<ul>
  <% @decks.each do |deck| %>
    <li>
      <%= link_to deck.name, deck%>
      <%= button_tag :submit do %>
        <%= image_tag("settings.png") %>
      <% end %>
      <%= render partial: 'edit_delete', locals: { deck: deck } %>
    </li>
  <% end %>
</ul>

<%= render partial: 'new', locals: { deck: Deck.new } %>