<h2><%= current_user.name %>'s Decks</h2>
<ul>
  <% @decks.each do |deck| %>
    <li>
      <%= deck.name %>
      <%= button_tag :submit do %>
        <%= image_tag("settings2.png") %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= render partial: 'new', locals: { deck: Deck.new } %>