<h2><%= current_user.name %>'s Decks</h2>
<ul>
  <% @decks.each do |deck| %>
    <li>
      <%= link_to deck.name, deck%>
      <%= button_tag :submit, class: 'edit-delete-options-btn' do %>
        <%= image_tag('settings.png') %>
      <% end %>
      <div class='edit-delete-options-overlay'>
        <%= render partial: 'edit_delete', locals: { deck: deck } %>
      </div>
    </li>
  <% end %>
</ul>

<%= render partial: 'new', locals: { deck: Deck.new } %>