<!DOCTYPE html>
<html>
  <head>
    <title>Flashcards</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <%= "Logged in as #{current_user.name}" %> | <%= link_to 'Home', root_path %> | <%= link_to 'Log Out', logout_path, method: :delete %>
    <% else %>
      <%= link_to 'Home', root_path %> | <%= link_to 'Log In', login_path %> or <%= link_to 'Sign Up', new_user_path %>
    <% end %>
    <hr>

    <% if notice %>
      <% if notice.kind_of?(Array) %>
        <ul>
          <% notice.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% elsif notice.kind_of?(String) %>
        <%= notice %>
      <% end %>
    <% end %>
    
    <% if alert %>
      <% if alert.kind_of?(Array) %>
        <ul>
          <% alert.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% elsif alert.kind_of?(String) %>
        <%= alert %>
      <% end %>
    <% end %>
    
    <%= yield %>
  </body>
</html>
